<section id="team">
  <h2>Meet the Team</h2>
  <div class="team-grid">
    <div class="member">
      <h3>President</h3>
      <p><strong>Smriti Nagarajan </strong> – Phd student in Cellular and Molecular Medicine</p>
    </div>
    <div class="member">
      <h3>Vice President</h3>
      <p><strong>Sukirti Shivpuri</strong> – Phd student in Cellular and Molecular Medicine</p>
    </div>
    <div class="member">
      <h3>Treasurer</h3>
      <p><strong>Robert Shaw</strong> – Phd student in Molecular and Cellular Biology</strong></p>
    
    </div>
    <div class="member">
      <h3>Faculty Advisor</h3>
      <p><strong>Dr. Jacob Schwartz</strong> – Associate Director, Cancer Researcher Training and Education Coordination</p>
    </div>
  </div>
</section>