<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | Wildcats Biotech</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <header>
    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo" class="club-logo" />
    <h1>Wildcats Biotech</h1>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/mission' | relative_url }}">Mission</a></li>
        <li><a href="{{ '/team' | relative_url }}">Team</a></li>
        <li><a href="{{ '/involved' | relative_url }}">Get Involved</a></li>
        <li><a href="{{ '/calendar' | relative_url }}">Events</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 Wildcats Biotech | University of Arizona</p>
  </footer>
</body>
</html>